@font-face {
    font-family: gothamNarrow;
    src: url(../magic/fonts/GothamXNarrow-Bold.otf);
  }

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}

#logo-mtg {
    width: 400px;
    height: 140px;
    background-image: url('../magic/assets/logo-mtg.png');
    background-size:contain;
    background-position: center;
    
}

h2 {
    color:#b53a06;
    margin: 0;
    font-family: gothamNarrow;
    font-size: 32px;
}

body {
    background-color: rgb(21,11,0);
    color: rgb(249,250,244);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: inline-block;
    margin: 5px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rbg(249, 250, 244);
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px rgba(25, 23, 23, 0.672);
    text-shadow: 1px 1px rgba(25, 23, 23, 0.672);
}

button:active {
    background-color: #b53a06;
    box-shadow: 0 5px #666;
    transform: translate(4px, 4px);
}

.add {
    background-color:rgb(14, 104, 171);
}

.add-start {
    background-color: rgb(0, 115, 62);
}

.subtract {
    background-color:rgb(211, 32, 42);
}

#counter {
    min-height: 300px;
    width: 462px;
    background-image: url("../magic/assets/smoky.gif");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-shadow: 4px 4px black;
}

.btn-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 0;
}

.reset-btn {
    display: flex;
    width: 452px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.btn-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#life-total {
    font-size: 4rem;
    margin: 20px;
    width: 140px;
    text-align: center;
    background-color: rgb(102, 102, 102, .75);
    border-radius: 25%;
}